@page
@model BlogSite.Pages.Authentication.Register
@{
    ViewData["Title"] = "Register";
}


<div class="form">
    <div class="form-panel one">
        <div class="form-header">
            <h1>Register</h1>
        </div>
        <div class="form-content">
            <form id="account" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.FullName" class="form-label"></label>
                    <span asp-validation-for="Input.FullName" class="text-danger"></span>
                    <input asp-for="Input.FullName" class="form-control" autocomplete="FullName" aria-required="true" placeholder="Fullname" />
                </div>    
                <div class="form-group">
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                </div>
                <div class="form-group">
                    <label asp-for="Input.ProfilePic" class="form-label"></label>
                    <input asp-for="Input.ProfilePic" type="file" accept="image/*" class="form-control" />
                </div>
                <div class="form-group">
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
    <a class="form-panel two" href="./login"> </a>
</div>
